@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Donatello2020.ViewModels.CardDetails
@{
    ViewData["Title"] = "Details";
}

@if(TempData.ContainsKey("Message"))
{
    <script type="text/javascript">
        M.toast({ html: '@TempData["Message"]' }, 3000);
    </script>
}

<div class="container">

    <h2>Details</h2>

    <div class="row">
        <form class="col s12" asp-controller="Card" asp-action="Update" method="post"> 

            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Card contents"
                           asp-for="Contents" />
                    <label asp-for="Contents">@Model.Contents</label>

                </div>

            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea placeholder="Notes"
                              asp-for="Notes"
                              class="materialize-textarea"></textarea>
                    <label asp-for="Notes">@Model.Notes</label>
                </div>
            </div>

            <div class="row">
                <input asp-for="Id" type="hidden" typeof="text" />
                <input type="submit" value="Save" class="btn" />
                @TempData["Message"]
            </div>
        </form>

    </div>
</div>

